{% extends 'registration/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block body %}

<div class="text-light text-center mb-1 mt-3">
  <h3>Change Password!</h3>
</div>

<div class="container mt-1 text-center">

  <div class="card bg-dark border-info border-4">
      <div class="card-body">
      
      <div class="">
        <form method="post" class="text-light ">
          {% csrf_token %}
            {{ form.as_p }}

          <button type="submit" class="btn btn-outline-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>  

</div>

{% endblock body %}