{% extends 'registration/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block body %}

<div class="text-light text-center mb-1 mt-3">
  <h3>Password change successful</h3>
</div>

<div class="container mt-1 text-center">

  <div class="card bg-dark border-info border-4">
      <div class="card-body">
      
      <div class="">
          <p>Your password was changed successfully.</p>
          <a class="btn btn-outline-primary" href="{% url 'login' %}" class="nav-link">Log In</a>
      </div>
    </div>
  </div>  

</div>

{% endblock body %}