{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block title %} Password Reset Confirm {% endblock title %}

{% block body %}

<div class="text-light text-center mb-1 mt-3">
  <h3>Password Reset Complete</h3>
</div>

<div class="container mt-1 text-center">

  <div class="card bg-dark border-info border-4">
      <div class="card-body">
      <div class="text-light">

        <div id="content" class="colM">
            <p>Your password has been set.  You may go ahead and log in now.</p>
            <p><a href="{% url 'login' %}">Log in</a></p>
          <br class="clear">
        </div>


      </div>
      </div>
  </div>
</div>

{% endblock body %}